div {
	border: 1px solid #aaa;
}

.hidden {
	display: none;
}

@keyframes up {
	from {
		height: 0px;
	}
  to {
  	height: 300px;
	}
}

@keyframes down {
	from {
		height: 300px;
	}
  to {
  	height: 0px;
	}
}

.up {
	display: block;
	animation: 1s up forwards;
}

.down {
	animation: 1s down;
}